#logo {
    /* Do nothing */
}

body {
    background-color: #ebeff5;
}

footer {
    margin-top : 30px;
}

#total-orders {
    background-color: #4cb4b7;
}

#orders-delivered {
    background-color: #7abecc;
}

#orders-pending {
    background-color: #7cd1c0;
}