{% extends 'accounts/auth/main.html' %}

{% load static %}

{% block content %}
<br/>
<div class='row'>
    <div class='col-md'></div>
    <div class='col-md'>
        <center><h1>Login</h1></center>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        <form method='POST' action=''>
            {% csrf_token %}
            
            <div class='form-group'>
                <label for='id_username'>{{ form.username.label }}</label>
                {{ form.username }}
            </div>
            <div class='form-group'>
                <label for='id_password'>{{ form.password.label }}</label>
                {{ form.password }}
            </div>
            <div class='form-group'>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            <div class='form-group'>
                <button class='btn btn-outline-primary btn-block' type='submit'>Login</button>
            </div>
            <p class='text-muted'>Don't have an account? <a href="{% url 'register' %}">Create a new one</a></p>
        </form>
    </div>
    <div class='col-md'></div>
</div>
{% endblock %}