{% extends 'accounts/auth/main.html' %}

{% block content %}
<br/>
<div class='row'>
    <div class='col-md'></div>
    <div class='col-md'>
        <form action='' method='POST'>
            {% csrf_token %}
            <p>
                <label for='new_password1'>New password</label>
                <input type='password' name='new_password1' id='new_password1' class='form-control' placeholder='Your new password goes here'>
            </p>
            <p>
                <label for='new_password2'>Confirm your new password</label>
                <input type='password' name='new_password2' id='new_password2' class='form-control' placeholder='Confirm your new password here'>
            </p>
            <button type='submit' class='btn btn-outline-primary'>Submit</button>
            <button type='reset' class='btn btn-outline-info'>Reset</button>
        </form>
    </div>
    <div class='col-md'></div>
</div>
{% endblock %}