{% extends 'accounts/auth/main.html' %}

{% block content %}
<br/>
<div class='row'>
    <div class='col-md'></div>
    <div class='col-md'>
        <p>Forgot your password? We'll send a link to your email to reset your password!</p>
        <form class='form-inline' action='' method='POST'>
            {% csrf_token %}
            <label for='email' class='control-label mb-2 mr-sm-2'>{{ form.email.label }}</label>
            <input type='email' name='email' id='email' class='form-control mb-2 mr-sm-2' placeholder='Your email'>
            <button type='submit' class='btn btn-outline-primary mb-2 mr-sm-2'>Submit</button>
        </form>
    </div>
    <div class='col-md'></div>
</div>
{% endblock %}